body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

nav{
    display:flex;
    width:100%;
    height: 70px;;
    align-items: center;
    justify-content: space-around;
}
.App{
    margin:0;
    padding:0;
    background-color: #FDEFE6;
    width: 100%;
    height: auto;
}
.HeadImag{
    display: flex;
    justify-content: space-between;
    padding:0 120px;
}